
nav.theme-dark, nav.theme-dark ul.links-wrapper.active { background-color: #0f0e17 }

header.theme-dark   { background-color: #0f0e17 }

header.theme-dark  h1 { color: #ff8906; }

section.theme-dark   { background-color: #0f0e17 }

footer.theme-dark   { background-color: #0f0e00 }

nav.theme-dark ul.links-wrapper li a.btn-solid:link, nav.theme-dark ul.links-wrapper li a.btn-solid:visited {
    color: #0f0e17;
    border: solid 2px #e53170;
    background-color: #e53170;
}

nav.theme-dark ul.links-wrapper li a.btn-solid:hover, nav.theme-dark ul.links-wrapper li a.btn-solid:focus, nav.theme-dark ul.links-wrapper li a.btn-solid:active{
    color:#e53170;
    border-color:#e53170;
    background-color: #0f0e17;
}

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { 
    color: #0f0e17; 
    background-color: #ff8906; 
    border-color: #ff8906 
}

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { 
    color: #ff8906; 
    background-color: #0f0e17; 
    border-color: #ff8906 
}

header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { 
    color: #0f0e17; 
    background-color: #e53170; 
    border-color: #e53170 
}

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { 
    color: #e53170; 
    background-color: #0f0e17; 
    border-color: #e53170 
}

header .col-text h2, .col-1 > h3 { line-height: 1.8 }

.flex-cols-3 a.btn:link,
.flex-cols-3 a.btn:visited { 
    color: #0f0e17; 
    background-color: #e53170; 
    border-color: #e53170 
}

.flex-cols-3 a.btn:focus,
.flex-cols-3 a.btn:hover,
.flex-cols-3 a.btn:active { 
    color: #e53170; 
    background-color: #0f0e17; 
    border-color: #e53170 
}


.flex-cols-3 h3 {color: #ff8906}


body {font-family: 'Merriweather', sans-serif;}


footer.theme-dark ul.footer-links li a:link, footer.theme-dark ul.footer-links li a:visited {
    color: #ff8906;
    text-decoration-color: #ff8906;
}

footer.theme-dark ul.footer-links li a:hover, footer.theme-dark ul.footer-links li a:focus, footer.theme-dark ul.footer-links li a:active{
    color: #e53170;
    text-decoration: #e53170;
}

footer.theme-dark ul.footer-icons li a:link i, footer.theme-dark ul.footer-icons li a:visited i {
    color: #ff8906;
    text-decoration-color: #ff8906;
}

footer.theme-dark ul.footer-icons li a:hover i, footer.theme-dark ul.footer-icons li a:focus i, footer.theme-dark ul.footer-icons li a:active i{
    color: #e53170;
    text-decoration: #e53170;
}

.theme-dark a:not(.btn):link, .theme-dark a:not(.btn):visited {
    color: #ff8906;
}

.theme-dark a:not(.btn):hover, .theme-dark a:not(.btn):focus, .theme-dark a:not(.btn):active {
    color: #e53170;
}